auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9095

common:
  instance_addr: 127.0.0.1
  path_prefix: /loki
  replication_factor: 1
  ring:
    instance_id: loki-1
    kvstore:
      store: inmemory
  storage:
    filesystem:
      directory: /loki/data
  # Use inmemory for simplicity, or change to a proper storage type
  # for persistent data.
  instance_interface: lo

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h
