server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  # The host here is the service name defined in docker-compose.yml
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
- job_name: system
  static_configs:
  - targets:
      - localhost
    labels:
      job: varlogs
      __path__: /var/log/*log
- job_name: docker
  docker_sd_configs:
    - host: unix:///var/run/docker.sock
      refresh_interval: 5s
      # The labels here are for the service names defined in your docker-compose file
      # You can fine-tune what logs are sent to Loki here.
  relabel_configs:
    - source_labels: ['__meta_docker_container_name']
      regex: '/(.*)'
      target_label: 'container'
    - source_labels: ['__meta_docker_container_name']
      regex: '/full-stack-(.*)'
      target_label: 'service'
    - source_labels: ['__meta_docker_container_label_com_docker_compose_service']
      target_label: 'job'
